@page
@using Socona.ImVehicle.Web.Pages.Account
@model Socona.ImVehicle.Web.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "无访问权限 ";
}

<header>
    <h1 class="text-danger">ViewData["Title"]</h1>
    <p class="text-danger">你无权访问该资源 .</p>
</header>
