@page
@model LoginModel

@{
    ViewData["Title"] = "用户登录";
}




<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>用户登录</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Account/Login">用户登录</a>
        </div>
    </div>
</section>
<section class="contact_form_area2">
    <div class="container">
        <div class="col-xs-8">

            <h4>最近新闻</h4>
            <hr />


            @if (Model.NewsList != null && Model.NewsList.Any())
            {
                @foreach (var item in Model.NewsList)
                {
                    <article class=" row">
                        <section class="col-xs-9"><a class="esh-orders-link" asp-page="Detail" asp-route-orderId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a></section>
                        <section class="col-xs-2"> @Html.DisplayFor(modelItem => item.Date)</section>
                    </article>
                }
            }
        </div>

        <div class="col-xs-4">

            <div class="row feature_row">
                <div class="feature_slider_inner owl-carousel">
                    <div class="item">
                        <div class="feature_s_item">
                            <br />
                            <h4>用户登录</h4>
                            <section>
                                <form class="form-horizontal" method="post"  >

                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group ">
                                        <label class="col-sm-3 control-label">用户名</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Input.UserName" class="form-control" />
                                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group " style="margin-top:20px;">
                                        <label class="col-sm-3 control-label">密码</label>
                                        <div class="col-sm-9">
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group " style="margin-top:20px;">
                                        <div class="checkbox">
                                            <label>
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top:20px;">
                                        <button type="submit"  class="form-control submit_blue"> 登录 </button>
                                    </div>
                                    <div class="form-group" style="margin-top:20px;">
                                        <p>
                                            <a asp-page="./ForgotPassword">忘记密码？</a>
                                        </p>

                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
