<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 重点车辆管理系统 </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!--================Header Area =================-->
    <header class="main_header_area">
        <div class="header_top">
            <div class="container">
                <div class="pull-left">
                    <img src="~/img/logo.png" alt="">
                </div>
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
        <div class="main_menu_area">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a asp-page="/Index">主页</a></li>
                            <li><a asp-page="/Town/Index">街道</a></li>
                            <li><a asp-page="/Group/Index">安全单位</a></li>
                            <li><a asp-page="/Vehicle/Index">车辆</a></li>
                            <li><a asp-page="/Driver/Index">驾驶员</a></li>
                            <li><a asp-page="/News/Index">新闻</a></li>
                            <li><a asp-page="/Account/Manage/Index">用户</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li >
                                <div class="input-group" >
                                    <div class="input-group-btn">
                                        <button id="btnSearchPrefix" type="button" class="btn btn-default dropdown-toggle" data-search-prefix="单位：单位性质=" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="prefix-name">单位性质 </span> <span class="caret"></span></button>
                                        <ul id="listSearchPrefix" class="dropdown-menu">
                                            <li><a data-search-prefix="单位：单位性质=" href="#">单位性质 </a></li>
                                            <li><a data-search-prefix="单位：名称=" href="#">单位名称 </a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a data-search-prefix="车辆：车牌号=" href="#">车牌号 </a></li>
                                            <li><a data-search-prefix="车辆：类型=" href="#">车辆类型 </a></li>
                                            <li><a data-search-prefix="车辆：预警状态=" href="#">车辆预警状态 </a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a  data-search-prefix="驾驶员：姓名=" href="#">驾驶员姓名 </a></li>
                                            <li><a data-search-prefix="驾驶员：预警状态=" href="#">驾驶员预警状态 </a></li>
                                        </ul>
                                    </div>
                                    <input type="text" id="search_box" class="form-control" placeholder="过滤条件">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="submit_search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>
    <!--================End Header Area =================-->

    @RenderBody()


    <!--================Footer Area =================-->
    <footer class="footer_area">

        <div class="footer_copy_right">
            <div class="container">
                <h4>Copyright &copy; 2017. 甘井子区重点车辆管理系统.</h4>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jsrender/jsrender.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
  
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/jsrender/jsrender.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    <script>
        function query_search() {

            var prefix = $("#btnSearchPrefix").data("searchPrefix");
            var value = $('#search_box').val();
            $.ajax({
                type: "GET",
                url: "/Search/Index?queryString=" + encodeURIComponent(prefix + value),
                success: function (states) {
                    // similar behavior as an HTTP redirect
                    window.location.href = states.requestUrl;
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });

        }
        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#listSearchPrefix li a").click(function (obj) {
                var curlink = obj.currentTarget;
                $("#btnSearchPrefix").data("searchPrefix",$(curlink).data("searchPrefix"));
                $("#btnSearchPrefix .prefix-name").html($(curlink).html());
            });
            $("#submit_search").click(function () {
                query_search();
              
            });
            $("body").keydown(function (event) {
                if (event.keyCode == "13") {//keyCode=13是回车键
                    $('#submit_search').click();
                }
            });

           
        });

    </script>
</body>
</html>
