@using Microsoft.AspNetCore.Identity
@using Socona.ImVehicle.Core.Data
@inject SignInManager< VehicleUser> SignInManager
@inject UserManager<VehicleUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div class="pull-right">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <div class="header_c_text">
                <h5>当前用户</h5>
                <h4><a asp-page="/Account/Manage/Index" title="Manage"> @( UserManager.GetUserName(User))</a></h4>
               
            </div>
            <div class="header_c_text">               
               <button type="submit" class="btn ">注销</button>
            </div>
        </form>
    </div>
}
else
{

    <div class="pull-right">


        <div class="header_c_text">
            <a asp-page="/Account/Login">登录</a>
        </div>

    </div>

}
