@page
@model ErrorModel
@{
    ViewData["Title"] = "错误";
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3> <i class="fa fa-exclamation-circle"></i> 错误: &nbsp;<strong> @Model.Code</strong></h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Error">错误</a>
            
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <br />
        <div class="row">
            <div class="btn-toolbar">
                <button class="btn btn-default" onclick="javascript: history.go(-1);"><i class="fa fa-backward"></i>返回上一页</button>
            </div>
        </div>
        <hr />
        <h2 class="text-danger"><i class="fa fa-exclamation-circle"></i>处理请求时出现问题</h2>
        <br />
        <br />
        <div class="row">
            @if (Model.ShowRequestId)
        {
            <p style="margin-left:40px;">
                <strong>错误签名:</strong> <code>@Model.RequestId</code>
            </p>
    }

        </div>

        <br />


        <hr />
        <br />


       
    </div>
    
</section>