@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}
<section class="contact_form_area2">
    <div class="container">
        <div class="col-xs-8">
            
         
        </div>

        <div class="col-xs-4">

            <div class="row feature_row">
                <div class="feature_slider_inner owl-carousel">
                    <div class="item">
                        <div class="feature_s_item">
                            <br />
                            <h4>用户登录</h4>
                            <section>
                              
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>