@page
@using Socona.ImVehicle.Core.Data
@model Web.Pages.Vehicle.CreateModel
@{
    ViewData["Title"] = "新增车辆";
}


<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3> <i class="fa fa-pencil-square-o"></i> 新建车辆</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Vehicle">车辆</a>&gt;
            <a asp-page="/Vehicle/Create">新建车辆</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-edit-item" type="submit" form="newForm"><i class="fa fa-floppy-o"></i> 保 存</button>
            </div>
            <div class="btn-group">
                <a class="btn btn-nav-back" href="@Model.ReturnUrl"><i class="fa fa-reply" aria-hidden="true"></i>放 弃</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新车辆信息</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">

                        <form method="post" class="form-horizontal" id="newForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="VehicleItem.TownId" />
                            <input type="hidden" asp-for="ReturnUrl" />
                            <div class="form-group">
                                @if (await Model.IsAdmin())
                                {
                                    <label asp-for="VehicleItem.TownId" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-4">
                                        <select id="town_select" asp-for="VehicleItem.TownId" class="form-control" asp-items="ViewBag.TownList">
                                            <option value="">请选择街道 </option>
                                        </select>
                                        <span asp-validation-for="VehicleItem.TownId" class="text-danger"></span>
                                    </div>

                                }
                                <label asp-for="VehicleItem.GroupId" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select id="group_select" asp-for="VehicleItem.GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                        <option value="">请选择安全单位 </option>
                                    </select>
                                    <span asp-validation-for="VehicleItem.GroupId" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.DriverId" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="VehicleItem.DriverId" id="driver_select" class="form-control" asp-items="ViewBag.DriverList">
                                        <option value="">请选择驾驶员 </option>
                                    </select>
                                    <span asp-validation-for="VehicleItem.DriverId" class="text-danger"></span>
                                </div>
                                <div class="col-sm-4">名字前带有*表示当前单位驾驶员</div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.License" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.License" class="form-control" />
                                    <span asp-validation-for="VehicleItem.License" class="text-danger"></span>
                                </div>

                                <label asp-for="VehicleItem.GpsEnabled" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.GpsEnabled" class="form-control" />
                                    <span asp-validation-for="VehicleItem.GpsEnabled" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.Usage" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="VehicleItem.Usage" class="form-control" asp-items="@Html.GetEnumSelectList<UsageType>()"></select>
                                    <span asp-validation-for="VehicleItem.Usage" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.Type" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="VehicleItem.Type" class="form-control" asp-items="@Html.GetEnumSelectList<VehicleType>()"></select>
                                    <span asp-validation-for="VehicleItem.Type" class="text-danger"></span>
                                </div>
                            </div>
                       
                            
                            <div class="form-group">
                                <label asp-for="VehicleItem.RealOwner" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.RealOwner" class="form-control" />
                                    <span asp-validation-for="VehicleItem.RealOwner" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.Agent" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.Agent" class="form-control" />
                                    <span asp-validation-for="VehicleItem.Agent" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.YearlyAuditDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.YearlyAuditDate" class="form-control"  />
                                    <span asp-validation-for="VehicleItem.YearlyAuditDate" class="text-danger"></span>
                                </div>
                            
                                <label asp-for="VehicleItem.DumpDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.DumpDate" class="form-control" />
                                    <span asp-validation-for="VehicleItem.DumpDate" class="text-danger"></span>
                                </div>
                            </div>                      

                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoLicense" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoLicense" class="form-control" />
                                    <span asp-validation-for="VehicleItem.PhotoLicense" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoFront" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoFront" class="form-control" />
                                    <span asp-validation-for="VehicleItem.PhotoFront" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoRear" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoRear" class="form-control" />
                                    <span asp-validation-for="VehicleItem.PhotoRear" class="text-danger"></span>
                                </div>
                            </div>
                           
                        

                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoGps" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoGps" class="form-control" />
                                    <span asp-validation-for="VehicleItem.PhotoGps" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">

                                <label asp-for="VehicleItem.Comment" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.Comment" class="form-control" />
                                    <span asp-validation-for="VehicleItem.Comment" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            //Dropdownlist Selectedchange event

            var update_group = function () {
                town_id =@(await Model.IsAdmin()?Html.Raw(" $('#town_select').val()"): Html.Raw(Model.VehicleItem.TownId?.ToString()));
                $("#group_select").empty();

                $.ajax({
                    type: "GET",
                    url: "/Group/GetDropDownList?townId=" + town_id,
                    success: function (states) {
                        $("#group_select").append('<option value="">' + "请选择安全单位" + '</option>');
                        debugger;
                        $.each(states, function (i, state) {
                            $("#group_select").append('<option value="' + state.value + '">' + state.text + '</option>');
                            // here we are adding option for States
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            };
           // update_group();
            var update_driver = function () {
                  town_id =@(await Model.IsAdmin()?Html.Raw(" $('#town_select').val()"): Html.Raw(Model.VehicleItem.TownId?.ToString()));
                $("#driver_select").empty();
                $.ajax({
                    type: "GET",
                    url: "/Driver/GetDropDownList?townId=" + town_id + "&groupId=" + $('#group_select').val(),
                    success: function (states) {
                        $("#driver_select").append('<option value="">' + "请选择驾驶员" + '</option>');
                        debugger;
                        $.each(states, function (i, state) {
                            $("#driver_select").append('<option value="' + state.value + '">' + state.text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });

            };
         //   update_driver();

            $("#town_select").change(function () {
                update_group();
                update_driver();
                return false;
            });
            $("#group_select").change(function () {
                update_driver();
                return false;
            });
        });
    </script>
}
