@page
@model Web.Pages.Vehicle.CreateModel
@{
    ViewData["Title"] = "新增车辆";
}


<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>新增车辆</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Vehicle">车辆</a>&gt;
            <a asp-page="/Vehicle/Create">新增车辆</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit" form="newForm"><span class="glyphicon glyphicon-floppy-saved"> </span> 保 存</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default" asp-page="Index"><span class="glyphicon glyphicon-trash" /> 放 弃</button>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新车辆信息</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">

                        <form method="post" class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class="form-group">
                                @if (await Model.IsAdmin())
                                {
                                    <label asp-for="VehicleItem.TownId" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-4">
                                        <select id="town_select" asp-for="VehicleItem.TownId" class="form-control" asp-items="ViewBag.TownList">
                                            <option>请选择街道 </option>
                                        </select>
                                        <span asp-validation-for="VehicleItem.TownId" class="text-danger"></span>
                                    </div>

                                }
                                <label asp-for="VehicleItem.GroupId" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select id="group_select" asp-for="VehicleItem.GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                        <option>请选择安全单位 </option>
                                    </select>
                                    <span asp-validation-for="VehicleItem.GroupId" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.License" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input  asp-for="VehicleItem.License" class="form-control" />
                                    <span asp-validation-for="VehicleItem.License" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.Type" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select  asp-for="VehicleItem.Type" class="form-control" asp-items="@Html.GetEnumSelectList<VehicleType>()"></select>
                                    <span asp-validation-for="VehicleItem.Type" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.Usage" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select  asp-for="VehicleItem.Usage" class="form-control" asp-items="@Html.GetEnumSelectList<UsageType>()"></select>
                                    <span asp-validation-for="VehicleItem.Usage" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.RealOwner" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input  asp-for="VehicleItem.RealOwner" class="form-control" />
                                    <span asp-validation-for="VehicleItem.RealOwner" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.Brand" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input  asp-for="VehicleItem.Brand" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.Brand" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.Name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input  asp-for="VehicleItem.Name" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.Color" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.Color" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.Color" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.YearlyAuditDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.YearlyAuditDate" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.YearlyAuditDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.YearlyAuditDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.YearlyAuditDate" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.YearlyAuditDate" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.InsuranceExpiredDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.InsuranceExpiredDate" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.InsuranceExpiredDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.RegisterDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.RegisterDate" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.RegisterDate" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.LastRegisterDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.LastRegisterDate" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.LastRegisterDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.ProductionDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.ProductionDate" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.ProductionDate" class="text-danger"></span>
                                </div>
                                <label asp-for="VehicleItem.VehicleStatus" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="VehicleItem.VehicleStatus" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.VehicleStatus" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoFront" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoFront" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.PhotoFront" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoRear" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoRear" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.PhotoRear" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoAudit" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoAudit" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.PhotoAudit" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="VehicleItem.PhotoInsuarance" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="VehicleItem.PhotoInsuarance" class="form-control" asp-items="ViewBag.GroupList" />
                                    <span asp-validation-for="VehicleItem.PhotoInsuarance" class="text-danger"></span>
                                </div>
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(document).ready(function () {
            //Dropdownlist Selectedchange event

            $("#town_select").change(function () {
                $("#group_select").empty();
                $.ajax({
                    type: "GET",
                    url: "/Group/GetDropDownList?townId=" + $('#town_select').val(),
                    success: function (states) {
                        $("#group_select").append('<option value="' + "-1" + '">' + "请选择安全单位" + '</option>');
                        debugger;
                        $.each(states, function (i, state) {
                            $("#group_select").append('<option value="' + state.value + '">' + state.text + '</option>');
                            // here we are adding option for States
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            });
        });
</script>
}
