@page
@model Web.Pages.News.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>NewsItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsItem.Title" class="control-label"></label>
                <input asp-for="NewsItem.Title" class="form-control" />
                <span asp-validation-for="NewsItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Content" class="control-label"></label>
                <input asp-for="NewsItem.Content" class="form-control" />
                <span asp-validation-for="NewsItem.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Excerpt" class="control-label"></label>
                <input asp-for="NewsItem.Excerpt" class="form-control" />
                <span asp-validation-for="NewsItem.Excerpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="NewsItem.HasDateRange" /> @Html.DisplayNameFor(model => model.HasDateRange)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.PublishDate" class="control-label"></label>
                <input asp-for="NewsItem.PublishDate" class="form-control" />
                <span asp-validation-for="NewsItem.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.ExpireDate" class="control-label"></label>
                <input asp-for="NewsItem.ExpireDate" class="form-control" />
                <span asp-validation-for="NewsItem.ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Order" class="control-label"></label>
                <input asp-for="NewsItem.Order" class="form-control" />
                <span asp-validation-for="NewsItem.Order" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="NewsItem.Id" />
            <div class="form-group">
                <label asp-for="NewsItem.VersionNumber" class="control-label"></label>
                <input asp-for="NewsItem.VersionNumber" class="form-control" />
                <span asp-validation-for="NewsItem.VersionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Metadata" class="control-label"></label>
                <input asp-for="NewsItem.Metadata" class="form-control" />
                <span asp-validation-for="NewsItem.Metadata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Name" class="control-label"></label>
                <input asp-for="NewsItem.Name" class="form-control" />
                <span asp-validation-for="NewsItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.CreationDate" class="control-label"></label>
                <input asp-for="NewsItem.CreationDate" class="form-control" />
                <span asp-validation-for="NewsItem.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.ModificationDate" class="control-label"></label>
                <input asp-for="NewsItem.ModificationDate" class="form-control" />
                <span asp-validation-for="NewsItem.ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.CreateBy" class="control-label"></label>
                <input asp-for="NewsItem.CreateBy" class="form-control" />
                <span asp-validation-for="NewsItem.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.ModifyBy" class="control-label"></label>
                <input asp-for="NewsItem.ModifyBy" class="form-control" />
                <span asp-validation-for="NewsItem.ModifyBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsItem.Status" class="control-label"></label>
                <select asp-for="NewsItem.Status" class="form-control"></select>
                <span asp-validation-for="NewsItem.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
